<h1>Editing Task</h1>

<% if @task %>
  <%= render 'form', task: @task %>

  <%= link_to 'Back to task', @task %> |
  <%= link_to 'Job tasks', @task.job %> |
<% else %>
  <i>You do not have permission to see this task</i>
  <br>
<% end %>

<%= link_to 'All tasks', tasks_path %>
