<h1>Editing Job</h1>

<% if we_have_permission_for_job?(@job) %>
  <%= render 'form', job: @job %>

  <%= link_to 'Show', @job %> |
<% else %>
  <i>You do not have permission to see this job</i>
<% end %>
<%= link_to 'Back', jobs_path %>
